h1 {
    color: blue;
}

.description-field {
    margin: 8px 0px 0px;
    background-color: #e7e7e7;
    min-height: 80px;
    padding: 8px;
}

.btn-container {
    width: 100%;
    padding-right: 8px !important;
    padding-left: 8px !important;
    margin-right: auto;
    margin-left: auto;
    bottom: 0;
    position: absolute;
}

.row{
    margin-right: 0!important;
    margin-left: 0!important;
}

.fix-padding-right {
    padding-left: 0px !important;
    padding-right: 4px !important;
}

.fix-padding-left {
    padding-left: 4px !important;
    padding-right: 0px !important;
}

.hide {
    display: none!important;
}

.bot-img{
    width: 100%;
    padding-left: 10px;
    padding-top: 20px;
    max-width: 110px;
    min-width: 70px;
}

.speech-bubble {
    position: relative;
    background: #e7edee;
    border-radius: .4em;
    min-height: 100px;
    margin: 10px;
    padding: 15px;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 33px solid transparent;
    border-right-color: #e7edee;
    border-left: 0;
    border-bottom: 0;
    margin-top: -16.5px;
    margin-left: -33px;
}

.small-top-margin{
    margin-top: 10px;
}

div.color-1 button{
    background-color: #265B8B;
}

div.color-2 button{
    background-color: #1181C8;
}

div.color-3 button{
    background-color: #84C7F2;
}

#timer{
    padding-top: 10px;
    padding-left: 12px;
}

#msg{
    margin-right: 10px;
    color: orangered;
}

#group-container{
    padding: 16px;
}

.memeImg{
    max-width: 300px;
    margin-bottom: 10px;
    margin-top: 10px;
}