* {
    font-family: "Open Sans";
    color: #333;
    font-weight: 600;
}

body {
    max-width: 720px;
    margin: 0 auto;
}

.description-field {
    margin: 8px 0px 0px;
    background-color: #e7e7e7;
    min-height: 80px;
    padding: 8px;
}

.description-field h6 {
    font-size: 0.9rem;
    text-align: center;
}

.btn-container {
    width: 100%;
    max-width: 720px;
    padding-right: 8px !important;
    padding-left: 8px !important;
    margin-right: auto;
    margin-left: auto;
    bottom: 0;
    position: absolute;
}

.btn-container h6 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
    font-weight: 800;
}

.row{
    margin-right: 0!important;
    margin-left: 0!important;
}

.fix-padding-right {
    padding-left: 0px !important;
    padding-right: 4px !important;
}

.fix-padding-left {
    padding-left: 4px !important;
    padding-right: 0px !important;
}

.hide {
    display: none!important;
}

.bot-img{
    margin: auto;
    padding-top: 50px;
    display: block;
}

.speech-bubble {
    position: relative;
    background: #e7edee;
    border-radius: .4em;
    min-height: 100px;
    margin: 10px;
    padding: 15px;
    margin-top: 40px;
}

.speech-bubble:after {

    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 33px solid transparent;
    border-right-color: #e7edee;
    border-left: 0;
    border-bottom: 0;
    margin-top: -16.5px;
    margin-left: -33px;
}

.small-top-margin{
    margin-top: 10px;
}

div.color-1 button{
    background-color: #265B8B;
}

div.color-2 button{
    background-color: #1181C8;
}

div.color-3 button{
    background-color: #84C7F2;
}

#timer{
    padding-top: 10px;
    padding-left: 12px;
}

#msg{
    margin-right: 10px;
    color: orangered;
}

#group-container{
    padding: 16px;
    margin-bottom: 130px;
}

.memeImg{
    max-width: 300px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

.group-chat-field{
    width: 100%;
    height: 100px;
    bottom: 0;
    position: fixed;
    margin: 8px 0px 0px;
    background-color: #ffffff;
    min-height: 80px;
    padding-top: 0px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    border-top: 1px solid black;
    font-size: 0.8rem;
}

.h-30{
    height: 40px;
}

.right{
    float: right;
}

.padding0{
    padding: 0px;
}

.eyecolor{
    fill: #fab423;
}

.group-msg-bubble{
    background-color: #e4e4e4;
    padding: 12px;
    border-radius: 15px;
}

.btn {
    font-weight: bold;
    font-size: 14px;
}

.description-field {
    margin-top: 20px;
    height: 100px;
}

.description-field h6 {
    font-size: 16px;
}

.bot-img.shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}
