h1 {
    color: blue;
}

.description-field {
    margin: 8px 0px 0px;
    background-color: #e7e7e7;
    min-height: 80px;
    padding: 8px;
}

.btn-container {
    width: 100%;
    padding-right: 8px !important;
    padding-left: 8px !important;
    margin-right: auto;
    margin-left: auto;
    bottom: 0;
    position: absolute;
}

.row{
    margin-right: 0!important;
    margin-left: 0!important;
}

.fix-padding-right {
    padding-left: 0px !important;
    padding-right: 4px !important;
}

.fix-padding-left {
    padding-left: 4px !important;
    padding-right: 0px !important;
}

.hide {
    display: none;
}

.bot-img{
    width: 100px;
    padding-left: 10px;
}